<h1>Welcome to the School Course Management</h1>
<h3>Please login to be able to use the application!</h3>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    Email:
    <input type="text" formControlName="address">
    <div *ngIf="submitted && messageForm.controls.address.errors" class="error">
      <div *ngIf="messageForm.controls.address.errors.email">An email address is required in a correct format</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
      <div *ngIf="messageForm.controls.password.errors.required">A password is required</div>
    </div>
  </label>

  <input type="submit" value="login" class="cta">

</form>

<div *ngIf="submitted" class="results">
  <strong>Email:</strong>
  <span>{{ messageForm.controls.address.value }}</span>

  <strong>Password:</strong>
  <span>{{ messageForm.controls.password.value }}</span>
</div>
